<!DOCTYPE html>
<head>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="stepper-container vertical">
                <div class="stepper">
                    <div class="step active">
                        <div class="step-inner">
                            <div class="step-circle"><span><i class="fa fa-fw fa-check"></i></span></div>
                        </div>
                        <div class="step-content">
                            <h1>Hello</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vitae pariatur possimus iure natus assumenda dolorum nesciunt quaerat enim explicabo animi distinctio porro omnis, officia repellat eos aspernatur sequi tenetur.</p>
                        </div>
                    </div>
                    <div class="step active">
                        <div class="step-inner">
                            <div class="step-circle"><span><i class="fa fa-fw fa-envelope"></i></span></div>
                        </div>
                        <div class="step-content">
                            <h1>Hello</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vitae pariatur possimus iure natus assumenda dolorum nesciunt quaerat enim explicabo animi distinctio porro omnis, officia repellat eos aspernatur sequi tenetur.</p>
                        </div>
                    </div>
					 <div class="step active">
                        <div class="step-inner">
                            <div class="step-circle"><span><i class="fa fa-fw fa-envelope"></i></span></div>
                        </div>
                        <div class="step-content">
                            <h1>Hello</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vitae pariatur possimus iure natus assumenda dolorum nesciunt quaerat enim explicabo animi distinctio porro omnis, officia repellat eos aspernatur sequi tenetur.</p>
                        </div>
                    </div>

 <div class="step active">
                        <div class="step-inner">
                            <div class="step-circle"><span><i class="fa fa-fw fa-envelope"></i></span></div>
                        </div>
                        <div class="step-content">
                            <h1>Hello</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, vitae pariatur possimus iure natus assumenda dolorum nesciunt quaerat enim explicabo animi distinctio porro omnis, officia repellat eos aspernatur sequi tenetur.</p>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
</div>
</body>